@font-face {
    font-family: 'Newake Demo';
    src: url('../../assets/fonts/NewakeDemo.woff2') format('woff2'),
    url('../../assets/fonts/NewakeDemo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neutral Face';
    src: url('../../assets/fonts/NeutralFaceRegular.woff2') format('woff2'),
        url('../../assets/fonts/NeutralFaceRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neutral Face';
    src: url('../../assets/fonts/NeutralFaceBold.woff2') format('woff2'),
        url('../../assets/fonts/NeutralFaceBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}