@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    height: 4rem;
    width: 100%;
    background: $color-background;

    @include desktop {
        height: 100vh;
        width: 20%;
        flex-direction: column;
        justify-content: center;
    }

    &__link {
        margin: 0rem 1rem;
        font-size: 1rem;
        color: $color-text;
        transform: rotate(-25deg);
        text-transform: uppercase;
        text-decoration: none;
        transition: transform ease-in-out 0.2s, margin 1s, font-size ease-in-out 0.2s;

        @include tablet {
            margin: 0rem 4rem;
            transition: transform ease-in-out 0.2s, margin 0.5s, font-size ease-in-out 0.2s;
        }

        @include desktop {
            padding: 3rem 0rem;
        }
    
        &:hover {
            transform: rotate(0deg);
            transition: transform ease-in-out 0.2s;

            @include tablet {
                transition: transform ease-in-out 0.2s;

            }
        }

        &--active {
            font-size: 1.5rem;
            border-radius: 0.5rem;
            transform: rotate(0deg);
            transition: font-size ease-in-out 0.2s;
        }
    }
}